.elementor-13 .elementor-element.elementor-element-5379294b:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-5379294b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
 
    
    background-color: #FF9154;
}



/* Start custom CSS for image-box, class: .elementor-element-2c3d1d3 */.elementor-image-box-wrapper{
    
    background-color:#FFFFFF;
    box-shadow:0px 0px 54px 0px rgba(145,145,145,0.2);
}

.elementor-image-box-wrapper h2{
   color:; 
   font-size: 24px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: 2px;
    
}



.span{
    margin-top:-15px;
    margin-left:px;
    color:#999999;
    padding-bottom: 8px
    
}
.button1{
    text-decoration: none;
    color:white;
    background-color: #FF9154;
    padding: 12px 25px 12px 25px;
    font-size: 18px;
    font-family: poppins;
    color:#FFFFFF;
}

@media only screen and (max-width: 768px){
    .elementor-image-box-wrapper h2{
   color:; 
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: px;
    
}
    
    
.span{
    margin-left:12px;
    margin-top:-10px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button1{
      margin-left:30px;
    margin-top:-0px;
    background-color: #FF9154;
    padding: 5px 8px 5px 8px;
    font-size: 10px;
    font-family: poppins;
    color:#FFFFFF;
}  

.elementor-13 .elementor-element.elementor-element-2c3d1d3 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left: 12px;
   
}
    
}


@media only screen and (max-width: 360px){
    
      .elementor-image-box-wrapper h2{
  
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 2px;
   margin-top:-1px;
    
}
    
    
.span{
    margin-left:-5px;
    margin-top:px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button1{
      margin-left:30px;
    margin-top:-0px;
    background-color: #FF9154;
    padding: 5px 8px 5px 8px;
    font-size: 8px;
    font-family: poppins;
    color:#FFFFFF;
    text-decoration:none;
}  

.elementor-13 .elementor-element.elementor-element-2c3d1d3 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left:-1px;
    padding-top:15px;
   
}
    
.order{
   margin-top:-10px; 
   padding-bottom:20px;
   margin-left:-20px;
    
}
   
}/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-6053b79 */.elementor-image-box-wrapper{
    
    background-color:#FFFFFF;
    box-shadow:0px 0px 54px 0px rgba(145,145,145,0.2);
}

.elementor-image-box-wrapper h2{
   color:; 
   font-size: 24px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: 20px;
    
}



.span{
    margin-top:-15px;
    margin-left: 28px;
    color:#999999;
    padding-bottom: 8px
    
}
.button2{
  border:2px solid #FF9154;
color:#FF9154;
    padding: 12px 25px 12px 25px;
    font-size: 18px;
    font-family: poppins;
    
}

.button2:hover{
    background-color:#FF9154;
    color:white;
}


@media only screen and (max-width: 768px){
    .elementor-image-box-wrapper h2{
   color:; 
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: px;
    
}
    
    
.span{
    margin-left:12px;
    margin-top:-10px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button2{
     border:2px solid #FF9154;
      margin-left:30px;
    margin-top:-0px;
    
    padding: 5px 8px 5px 8px;
    font-size: 8px;
    font-family: poppins;
    color:#FFFFFF;
}  

.button2:hover{
   
    color:white;
}

.elementor-13 .elementor-element.elementor-element-2c3d1d3 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left: 19px;
    padding-top: 10px;
}
.elementor-13 .elementor-element.elementor-element-6053b79 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left: 22px;
    padding-top: 10px;
}
    
}

@media only screen and (max-width: 360px){
    
      .elementor-image-box-wrapper h2{
  
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 2px;
   margin-top:-1px;
    
}
    
    
.span{
    margin-left:-5px;
    margin-top:px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button2{
      margin-left:30px;
    margin-top:-0px;
    background-color: #FF9154;
    padding: 5px 8px 5px 8px;
    font-size: 8px;
    font-family: poppins;
    color:#FFFFFF;
    text-decoration:none;
}  

.elementor-13 .elementor-element.elementor-element-2c3d1d3 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left:-1px;
    padding-top:15px;
   
}
    
.order{
   margin-top:-10px; 
   padding-bottom:20px;
   margin-left:-20px;
    
}
   
}/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-f829e02 */.elementor-image-box-wrapper{
    
    background-color:#FFFFFF;
    box-shadow:0px 0px 54px 0px rgba(145,145,145,0.2);
}

.elementor-image-box-wrapper h2{
   color:; 
   font-size: 24px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: 20px;
    
}



.span{
    margin-top:-15px;
    margin-left: 29px;
    color:#999999;
    padding-bottom: 8px
    
}
.button3{
  border:2px solid #FF9154;
color:#FF9154;
    padding: 12px 25px 12px 25px;
    font-size: 18px;
    font-family: poppins;
    
}

.button3:hover{
    background-color:#FF9154;
    color:white;
}

@media only screen and (max-width: 768px){
    .elementor-image-box-wrapper h2{
   color:; 
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: px;
    
}
    
    
.span{
    margin-left:12px;
    margin-top:-10px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button3{
      margin-left:30px;
    margin-top:-0px;
    background-color: #FF9154;
    padding: 5px 8px 5px 8px;
    font-size: 8px;
    font-family: poppins;
    color:#FFFFFF;
}  

.elementor-13 .elementor-element.elementor-element-2c3d1d3 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left: 19px;
    padding-top: 10px;
}
.elementor-13 .elementor-element.elementor-element-f829e02 .elementor-image-box-content .elementor-image-box-title {
    margin-left: 22px;
    font-size: 18px;

    font-size: 18px;

    padding-top: 10px;
}
    
}


@media only screen and (max-width: 360px){
    
      .elementor-image-box-wrapper h2{
  
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 2px;
   margin-top:-1px;
    
}
    
    
.span{
    margin-left:-5px;
    margin-top:px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button3{
      margin-left:30px;
    margin-top:-0px;
    background-color: #FF9154;
    padding: 5px 8px 5px 8px;
    font-size: 8px;
    font-family: poppins;
    color:#FFFFFF;
    text-decoration:none;
}  

.elementor-13 .elementor-element.elementor-element-2c3d1d3 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left:-1px;
    padding-top:15px;
   
}
    
.order{
   margin-top:-10px; 
   padding-bottom:20px;
   margin-left:-20px;
    
}
   
}/* End custom CSS */
/* Start custom CSS for image-box, class: .elementor-element-677c0b2 */.elementor-image-box-wrapper{
    
    background-color:#FFFFFF;
    box-shadow:0px 0px 54px 0px rgba(145,145,145,0.2);
}

.elementor-image-box-wrapper h2{
   color:; 
   font-size: 24px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: 20px;
    
}



.span{
    margin-top:-15px;
    margin-left: 28px;
    color:#999999;
    padding-bottom: 8px
    
}
.button2{
  border:2px solid #FF9154;
color:#FF9154;
    padding: 12px 25px 12px 25px;
    font-size: 18px;
    font-family: poppins;
    
}

.button2:hover{
    background-color:#FF9154;
    color:white;
}



@media only screen and (max-width: 768px){
    .elementor-image-box-wrapper h2{
   color:; 
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 25px;
    padding-top: px;
    
}
    
    
.span{
    margin-left:12px;
    margin-top:-10px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button2{
      margin-left:30px;
    margin-top:-0px;
    background-color: #FF9154;
    padding: 5px 8px 5px 8px;
    font-size: 8px;
    font-family: poppins;
    color:#FFFFFF;
}  


.elementor-13 .elementor-element.elementor-element-677c0b2 .elementor-image-box-content .elementor-image-box-title  {
    font-size: 18px;
    margin-left: 22px;
    padding-top: 10px;
}
    
}


@media only screen and (max-width: 360px){
    
      .elementor-image-box-wrapper h2{
  
   font-size: 14px;
    color:#FF9154;
    font-family: poppins;
    font-weight:Bold;
    margin-left: 2px;
   margin-top:-1px;
    
}
    
    
.span{
    margin-left:-5px;
    margin-top:px;
    margin-left:px;
    color:#999999;
    
    
}    
 
 .button1{
      margin-left:30px;
    margin-top:-0px;
    background-color: #FF9154;
    padding: 5px 8px 5px 8px;
    font-size: 8px;
    font-family: poppins;
    color:#FFFFFF;
    text-decoration:none;
}  

.elementor-13 .elementor-element.elementor-element-2c3d1d3 .elementor-image-box-content .elementor-image-box-title {
    font-size: 18px;
    margin-left:-1px;
    padding-top:15px;
   
}
    
.order{
   margin-top:-10px; 
   padding-bottom:20px;
   margin-left:-20px;
    
}
   
}/* End custom CSS */
/* Start custom CSS for elementskit-testimonial, class: .elementor-element-454ef78f */.fa,.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  padding:8px 16px 8px 16px; 
}



.elementor-13 .elementor-element.elementor-element-454ef78f .elementskit-profile-info .elementskit-author-name {
  
   
    padding-bottom:;
    margin-left: -10px;
}


@media only screen and (max-width: 768px){
    .fa,.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  padding:4px 8px 4px 8px; 
}/* End custom CSS */
